<div class="container-fluid global-header">
  <span class="sr-only">
    <h1>
      <%= I18n.t("header.staff_interface") %>
    </h1>
  </span>
  <nav class="navbar">
    <div class="container-fluid sm-mxn15px">
      <div class="navbar-collapse nav-global-collapse navbar-right navbar-default">
        <ul class="nav pull-right navbar-nav navbar-login">
          <%= render "shared/header_user" %>
          <!-- PLUGIN BEGIN -->
          <% if AppConfig[:oauth_definitions] and !session[:user] %>
            <% AppConfig[:oauth_definitions].each do |oauth_definition| %>
              <li><%= link_to oauth_definition[:label], "#{AppConfig[:frontend_proxy_prefix]}auth/#{oauth_definition[:provider]}" %></li>
            <% end %>
          <% end %>
          <!-- PLUGIN END -->
          <% if ArchivesSpaceHelp.enabled? %>
            <li class="xs-py15px"><%= link_to_help %></li>
          <% end %>
        </ul>
      </div><!-- nav-collapse -->
    </div>
  </nav>
</div>
<!-- PLUGIN BEGIN -->
<% if session[:user] %>
  <% AppConfig[:oauth_definitions].find_all{ |od| od[:slo_link] }.each do |oauth_definition| %>
    <script type="text/javascript">
      (function() {
        var logout = $('a[href~="<%= AppConfig[:frontend_proxy_prefix] %>logout"]').parent().parent();
        logout.append('<li><%= link_to("#{oauth_definition[:provider].upcase} Logout", "#{AppConfig[:frontend_proxy_prefix]}auth/#{oauth_definition[:provider]}_logout") %></li>');
      })();
    </script>
  <% end %>
<% end %>
<!-- PLUGIN END -->
