<div class="global-header">
  <span class="sr-only">
    <h1>
      <%= t("header.staff_interface") %>
    </h1>
  </span>
  <nav class="global-header-nav">
    <%= render "site/branding" %>
    <ul class="list-unstyled ml-auto d-flex gap-x-2 bg-light rounded-bottom shadow-sm">
      <%= render "shared/header_user" %>
          <!-- PLUGIN BEGIN -->
          <% if AppConfig[:oauth_definitions] and !session[:user] %>
            <% AppConfig[:oauth_definitions].each do |oauth_definition| %>
              <li><%= link_to oauth_definition[:label], "#{AppConfig[:frontend_proxy_prefix]}auth/#{oauth_definition[:provider]}" %></li>
            <% end %>
          <% end %>
          <!-- PLUGIN END -->
      <% if ArchivesSpaceHelp.enabled? %>
        <li class="d-flex align-items-center<%= (session[:user] ? ' mr-3' : '') %>"><%= link_to_help %></li>
        <%# .mr-3 used above to align link_to_help with the other below it %>
      <% end %>
    </ul>
  </nav>
</div>
<!-- PLUGIN BEGIN -->
<% if session[:user] %>
  <% AppConfig[:oauth_definitions].find_all{ |od| od[:slo_link] }.each do |oauth_definition| %>
    <script type="text/javascript">
      (function() {
        var logout = $('a[href~="<%= AppConfig[:frontend_proxy_prefix] %>logout"]').parent().parent();
        logout.append('<li><%= link_to("#{oauth_definition[:provider].upcase} Logout", "#{AppConfig[:frontend_proxy_prefix]}auth/#{oauth_definition[:provider]}_logout") %></li>');
      })();
    </script>
  <% end %>
<% end %>
<!-- PLUGIN END -->
